################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/win32-VS2005/.vs/ATILA/v16/Browse.VC.db
