<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<configuration>
  <parser>
    <files basepath="..\..\D3D\">
      <file>d3d9.h</file>
      <file>d3d9caps.h</file>
      <file>d3d9types.h</file>
    </files>
    <enums>
      <include />
      <exclude />
    </enums>
    <structs>
      <include />
      <exclude>D3DMATRIX</exclude>
    </structs>
    <classes>
      <include></include>
      <exclude>IDirect3DResource9</exclude>
      <exclude>IDirect3DBaseTexture9</exclude>
    </classes>
    <macros>
      <macro>
        <left>DECLARE_INTERFACE_(iface, baseiface)</left>
        <right>class iface</right>
      </macro>
      <macro>
        <left>STDMETHOD(method)</left>
        <right>HRESULT method</right>
      </macro>
      <macro>
        <left>STDMETHOD_(type,method)</left>
        <right>type method</right>
      </macro>
      <macro>
        <left>PURE</left>
        <right></right>
      </macro>
      <macro>
        <left>THIS_</left>
        <right></right>
      </macro>
      <macro>
        <left>THIS</left>
        <right>void</right>
      </macro>
    </macros>
  </parser>
  <generator outputpath="..\D3DPixRunPlayer\">
  </generator>
</configuration>
